<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>silly name startup</title>
    <meta name="description" content="A free REST API for Generating Startup Names">

    <link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="silly.names">
    <meta property="og:description" content="A free REST API for Generating Startup Namess">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@NandanSatheesh">
    <meta name="twitter:url" content="https://nameyoursillystartup.herokuapp.com/">
    <meta name="twitter:title" content="sillystartupnames">
    <meta name="twitter:description" content="A free REST API for Generating Startup Names">

    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/chota.css" />
</head>

<body>
<div class="wrapper">
    <nav class="nav">
        <div class="nav-left">
            <a class="brand" href="../">🌊 Silly Names</a>
        </div>
        <div class="nav-right">
        </div>
    </nav>
    <div class="inner">
        <p>A free REST API for generating random names for your statup</p>
        <h3 class="title">API Sample</h3>
        <div class="section">
            <div class="row">
                <div class="col is-full is-marginless">
                    <p class="demo is-left">GET&nbsp</p>
                    <p class="demo is-center"><a href="https://nameyoursillystartup.herokuapp.com/api/run%20fit"
                                                 target="_blank">https://nameyoursillystartup.herokuapp.com/api/run%20fit</a></p>
                </div>

            </div>
            <div class="tab">"quote": <span id="quote">
                        [
                        "RUNCAPSULE",
                        "FITCAPSULE",
                        "OPENFIT",
                        "OVERRUN",
                        "OVERFIT",
                        "OUTRUN",
                        "OUTFIT",
                        "RERUN",
                        "REFIT",
                        "REALRUN",
                        "REALFIT",
                        "PEAKRUN",
                        "PEAKFIT",
                        "PURERUN",
                        "PUREFIT",
                        "SHIFTRUN",
                        "SHIFTFIT",
                        "SILVERRUN",
                        "SILVERFIT",
                        "SOLIDRUN",
                        "SOLIDFIT",
                        "SPARKRUN",
                        "SPARKFIT",
                        "STARTRUN",
                        "STARTFIT",
                        "TRUERUN",
                        "TRUEFIT",
                        "UPRUN",
                        "UPFIT",
                        "VIBERUN",
                        "VIBEFIT",
                        "RUNARC",
                        "RUNATLAS",
                        "RUNBASE",
                        "RUNBAY",
                        "RUNBOOST",
                        "RUNCASE",
                        "RUNCENTER",
                        "RUNCAST",
                        "RUNCLICK",
                        "RUNDASH",
                        "RUNDECK",
                        "RUNDOCK",
                        "RUNDOT",
                        "RUNDROP",
                        "RUNENGINE",
                        "RUNFLOW",
                        "CORUN",
                        "COFIT",
                        ]
                </span></div>
            <br>
        </div>

        <h3 class="title">FAQ</h3>
        <div class="section">
            <b>Can I use this in my project?                                                                           </b>
            <p>Yes. Do what ever you want with it! <a href="https://twitter.com/NandanSatheesh" target="_blank">Let me know
                what you make!</a>                                              </p>
            <b>Is the API rate limited?</b>
            <p>No, but be generous.</p>
            <b>Is it open source? Can I contribute?</b>K
            <p>Yes! Checkout my spaghetti code on github. <a href="https://github.com/NandanSatheesh"
                                                             target="_blank">GitHub</a>
        </div>

        <footer>
            <p>👋 Made by <a href="https://twitter.com/NandanSatheesh" target="_blank">Nandan Satheesh @NandanSatheesh</a></p>
            <p><a href="https://github.com/NandanSatheesh" target="_blank"></a></p>
            <i class="wavy">Stay wavy 🌊</i>
        </footer>

    </div>
</div>
<script src="js/index.js"></script>
</body>

</html>